<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLPP-AOruSGgr80fFLwbNQ9r0BYDX439U</string>
	<key>GCM_SENDER_ID</key>
	<string>108894884425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awesomeApps.RestartBarCodeScaning</string>
	<key>PROJECT_ID</key>
	<string>restartsc-cebc3</string>
	<key>STORAGE_BUCKET</key>
	<string>restartsc-cebc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108894884425:ios:191cff9ff6209daa9ae598</string>
</dict>
</plist>