<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnxOf4z83F_BkxHSCyNNdFffpENsWcsH8</string>
	<key>GCM_SENDER_ID</key>
	<string>823304677825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.RBarCodeScanning</string>
	<key>PROJECT_ID</key>
	<string>restartscanning</string>
	<key>STORAGE_BUCKET</key>
	<string>restartscanning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823304677825:ios:e33a1338dd9311c59f6740</string>
</dict>
</plist>