<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbD6LJKYp1MVbkHhUbA4MfzO4ijEGlJBo</string>
	<key>GCM_SENDER_ID</key>
	<string>466917033613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awesomeApps.RestartBarCodeScanner</string>
	<key>PROJECT_ID</key>
	<string>barcodescanner-d79c8</string>
	<key>STORAGE_BUCKET</key>
	<string>barcodescanner-d79c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466917033613:ios:c9120b62a461c0128784c4</string>
</dict>
</plist>